{erl_opts, [
%   native, {hipe, o3}
]}.

{cover_enabled, true}.

{deps, [
   % fogfish erlang toolkit archive
   {plib, ".*",
      {git, "https://github.com/kfsm/plib", {branch, master}}
   }
   
   % fogfish erlang toolkit archive
  ,{feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }
]}.
